#st0 {
    fill:#F4F1BB;
}

#st1 { 
    fill:#D3D3D3; 
}

#st2 { 
    fill:#63612F; 
}

#st3{
    fill:gray;
}

#st4{
    fill:green;
}

#st5{
    fill:salmon;
}

#st6{
    fill:goldenrod;
}

#st7{
    fill:mediumaquamarine;
}

#st8{
    fill:skyblue;
}